set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'dracula/tmux'
set -g @dracula-show-powerline true
set -g @dracula-show-flags true

{{- if eq .chezmoi.osRelease.id "arch" }}

unbind-key C-b
set-option -g prefix C-a
bind-key C-a send-prefix

{{- end }}

#the default is 5, it can accept any number
set -g @dracula-refresh-rate 60

# it can accept `session`, `smiley`, `window`, or any character.
set -g @dracula-show-left-icon session

# default is 1, it can accept any number and 0 disables padding.
# set -g @dracula-left-icon-padding 1
set -g @dracula-border-contrast true

# available plugins: battery, cpu-usage, gpu-usage, ram-usage, network, network-bandwith, weather, time
set -g @dracula-plugins "battery time"

# available colors: white, gray, dark_gray, light_purple, dark_purple, cyan, green, orange, red, pink, yellow
# set -g @dracula-[plugin-name]-colors "[background] [foreground]"
# set -g @dracula-cpu-usage-colors "pink dark_gray"

set -g @dracula-cpu-usage-label "L"
set -g @dracula-ram-usage-label "R"
set -g @dracula-show-timezone false
# set -g @dracula-day-month true

# Enable mouse mode (tmux 2.1 and above)
set -g mouse on
## Enable mouse control (clickable windows, panes, resizable panes)
# set -g mouse-select-window on
# set -g mouse-select-pane on
# set -g mouse-resize-pane on

run '~/.tmux/plugins/tpm/tpm'
